.navbar a{
	list-style-type:none;
	text-decoration:none;
	color:black;
}

.nav-container{
	display:flex;
	justify-content:space-between;
	font-size:30px;
}
.left-align{
	display:flex;
	align-items:center;
}

.left-align h2{
	margin:0px;
}

.center-align a{
	margin-right:15px;
}

.center-align, .right-align{
	padding-top:10px;
}

.right-align button{
	border:none;
	font-size:30px;
	background-color:white;
}

.center-align a:hover,
.right-align button:hover{
	padding:5px;
	border-radius:25px;
	background-color:#d1d1d1;
}

.body{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#f0f0e1;
	gap:20px;
}
.content a{
	text-decoration:none;
	color:black;
	padding:10px;
	border-radius:20px;
	background-color:#d1d1d1;
}
.content a:hover{
	background-color:#7373ff;
}
